<button class="btn btn-primary" style="margin-bottom: 15px;" (click)="llenarTabla()">Click</button> 
<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Indice n incremental</th>
            <th scope="col">Numero procesado</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parrafo of paragraph; let i = index">
          <td>{{i}}</td>
          <td>{{parrafo.number}}</td>
      </tr>
    </tbody>
  </table>