<button class="btn btn-primary" style="margin-bottom: 15px;" (click)="llenarTabla()">Click</button> 
<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Indice n incremental</th>
            <th scope="col">Numero procesado</th>
            <th scope="col">Ocurrencias del número</th>
            <th scope="col">Primera posición</th>
            <th scope="col">última posición</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let numero of numero; let i = index" [ngClass]="{'verde': ocurrencia[numero] >= 2, 'amarillo':ocurrencia[numero] == 1,  'gris': ocurrencia[numero] < 1}">
          <td>{{i}}</td>
          <td>{{numero}}</td>
          <td  >{{ocurrencia[numero]}}</td>
          <td>{{posicionArreglo}}</td>
          <td>{{posicionArregloUltimo}}</td>
      </tr>
    </tbody>
  </table>

<textarea name="" id="" cols="30" rows="10" *ngIf="numero">
    {{numero}}
</textarea>
 
